.env
__pycache__/
*.pyc
*.pyo
.venv/
venv/
dist/
build/
*.egg-info/
.pytest_cache/
~/.ahq-mcp/
.playwright/
.idea/
*.png
*.log

#mac ignore files
.DS_Store
/.DS_Store
**/.DS_Store
src/.DS_Store
*/.DS_Store

